.navbar-brand > img {
  width: 0px;
  height: 0px;
  padding: 40px 80px;
  background: url("./images/logo_image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
<script src="https://giscus.app/client.js"
        data-repo="stats9/BlueSkyProject"
        data-repo-id="R_kgDOKCmf6Q"
        data-category="General"
        data-category-id="DIC_kwDOKCmf6c4CZIHa"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_high_contrast"
        data-lang="fa"
        crossorigin="anonymous"
        async>
</script>
